body{
    background-color: rgb(43, 43, 43);
}.content{
    text-align: center;
    background-color: rgb(75, 75, 75);
    padding: 1vh 1vw 1vh 1vw;
    min-height: 10vh;
}
.images{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin-top:10px;
}

